{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "plugins": [ "react", "react-hooks" ],
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] }
    ],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "error" // Checks effect dependencies
  },
  "globals": {
    "fetch": true
  }
}
